@{
    ViewData["Title"] = "Rouz Portfolio";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}

<div class="contact container-nav">
    <h2 class="aboutP">About</h2>
    <hr />
    <p>
        I am an aspiring Web-developer based
        in Greater Seattle Area.
        I enjoy creating beautiful , usable, professional websites
        using best practice accessibility and the latest trends in
        computer languages and frameworks, resulting in semantic and freindly
        XHTML and CSS. All of my websites are lovingly hand coded.
    </p>
    <p>
        For builidng websites I have a my preffered go to weapons.
        I am a big fan of the .NET Core frameowerk which allows me to incorporate
        all the languags I enjoy using to create the perfect responsive webstie.
        It allwos me to produce clean semantic XHTML, CSS code with the use
        of my favourite libraties , Jquery for instance.
    </p>
    <p>
        Currently I have finished up a Web develpment program throuh Epicdous.
        Throughout the passed 6 months I have been in a pair-programming enviornment
        and have learned skills such as , Angualr2, Javascript
        , Jquery, Ember.js, Typescript, C#, ASP.NET Core, git etc.
    </p>
    <br />
    <p>
        I grew up in Toronto, ontario, but have been living in the greater Seattle
        area over the passed 6 years. I enjoy staying active and find that washingtion
        state is a great place to indugle into many of the outdoor activites I love.
        From Hiking, skiing , kayakaing.
    </p>
    <p><b>I am currently avialible for freelannce work.</b></p>
</div>