@{
    ViewData["Title"] = "Rouz Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Portfolio.Models.Project>


<div class="contact container-nav">
    <h2 class="aboutP">Welcome</h2>
    <ul>
        <li><figure class="snip0071 yellow">
            <figcaption>
                <p>"Computer Technology is so built into our lives that its part of the surrond of every artist"</p>
                <h2>Rouz <span>Majlessi</span></h2><span class="position">Web Developer</span>
            </figcaption>
                <div class="image"><img src="~/img/rouz3.jpg.jpg" alt="Smiley face" /></div>
            <a href="#"></a>
        </li></figure>
        <br />
        <li><figure class="snip0071">
            <figcaption>
                <p>"Your website deserves the best; after all, it is the internet advertising billboard for you and your company."</p>
                <h2>Rouz <span>Majlessi</span></h2><span class="position">WebDevelper</span>
            </figcaption>
                <div class="image"><img src="~/img/rouz.jpg" alt="Smiley face" /></div>
            <a href="#"></a>
        </li></figure>
        <li><figure class="snip0071 yellow">
            <figcaption>
                <p>"Design is not what it just looks like and feels like. Design is how it works."</p>
                <h2>Steve <span>Jobs</span></h2><span class="position">former apple ceo</span>
            </figcaption>
            <div class="image"><img src="https://cityofwinterpark.org/wp-content/uploads/2014/04/thumbnail-information-technology.jpg" alt="sample12" /></div>
            <a href="#"></a>
        </li></figure>
        <li>
            <figure class="snip0071">
                <figcaption>
                    <p> “It’s through mistakes that you actually can grow. You have to get bad in order to get good.”</p>
                    <h2>Paula <span>Scher</span></h2><span class="position">Tyler school or art</span>
                </figcaption>
                <div class="image"><img src="http://diwebdeveloper.com/wp-content/uploads/2015/03/mrgreen.jpg" alt="sample14" /></div>
                <a href="#"></a>
        </li></figure>
    </ul>
</div>