@{
    ViewData["Title"] = "Rouz Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Portfolio.Models.Project>


<div class="contact container-nav">
    <h2 class="aboutP"></h2>
<figure class="snip0071">
    <figcaption>
        <p>It takes an uncommon mind to think of these things.</p>
        <h2>Rouz <span>Majlessi</span></h2><span class="position">Graffiti Artist</span>
    </figcaption>
    <div class="image"><img src="http://diwebdeveloper.com/wp-content/uploads/2015/03/mrgreen.jpg" alt="sample14" /></div>
    <a href="#"></a>
</figure>
<figure class="snip0071 yellow">
    <figcaption>
        <p>It's hard to be mad at someone who misses you while you're asleep.</p>
        <h2>Rouz <span>Majlessi</span></h2><span class="position">Illusionist</span>
    </figcaption>
    <div class="image"><img src="https://www.coursepark.com/blog/wp-content/uploads/2011/08/iStock_000007302205XSmall.jpg" alt="sample12" /></div>
    <a href="#"></a>
</figure>
</div>