@{
    ViewData["Title"] = "Rouz Portfolio";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}

@model IEnumerable<Portfolio.Models.Project>


<div class="contact container-nav">
  <h1 class="aboutP">Projects</h1>
    <hr />
    <p>      
   @foreach (var Project in Model)
   {
     <p><i class="fa fa-star fa-2x" style="color:gold"></i><b class="bold">Projects:</b> @Html.DisplayFor(modelItem => Project.name):@Html.DisplayFor(modelItem => Project.stargazer_count)</p>
    }
    </p>
</div>
